.card-detail{
    border-color: aliceblue;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #000000e5;
    width: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
    background-size: 100%;
     
      
    
}

.all-detail {
    padding-top: 1em;
    padding-bottom: 10em;
}

.imgDetailCard{
    width: 240px;
    height: 250px ;
    font-family: "Arial Black", Gadget, sans-serif
}

.title { 
    padding-top: 1em;
    margin-top: 20px;
    text-decoration: solid;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text{
    text-decoration: solid;
    text-transform: capitalize;
    font-family: "Arial Black", Gadget, sans-serif
}

.all-card {
    min-height: 100%;
    background-image: url(https://images5.alphacoders.com/410/thumbbig-410373.webp);   
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
    max-width: 100%;
    padding-bottom: 47px;
}

.loading-detail{ 
    align-items: center;
    padding-top: 140px;
    padding-bottom: 120px;
    padding-left: 30px
}

.type {
    margin-bottom: 0px;
}

.types {
    margin-bottom: 0px;
    font-family: "Arial Black", Gadget, sans-serif
}
.detail-body {
    margin-top: 80px;
}