.card-detail{
    border-color: aliceblue;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #000000e5;
    width: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
    background-size: 100%;
     
      
    
}


.imgDetailCard{
    width: 240px;
    height: 300px ;
}

.title { 
    margin-top: 150px;
    text-decoration: solid;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text{
    text-decoration: solid;
    text-transform: capitalize;
}

.body-detail {
    background-image: url(https://images5.alphacoders.com/410/thumbbig-410373.webp);
    
}