.landing-body {
    height: 937px;
    padding-bottom: 432px;
    background-image: url(pokemon_walpaper_2.jpg);
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
}

.img-landing-logo {
    position:relative;
    padding-top: 150px; 
}